{%extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col"></div>
      <div class="col">
        <h1>Login</h1>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
     <div class="card card-body">
        <form action="" method="post" class="django-form" >
          {% csrf_token %} {{form.as_p}}
          <div class="mb-3">
            <a href="{% url 'accounts:password_reset' %}" class="link dark">Forgot your Password?</a>
          </div>
          <button class="btn btn-primary" type="submit">Login</button>
          
        </form>
      </div>
  </div>
  </div>
</div>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock content %} 