{%extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col"></div>
      <div class="col">
        <h1>Password Reset</h1>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
     <div class="card card-body">
        <form action="" method="post" class="django-form" >
          {% csrf_token %} {{form.as_p}}
          <button class="btn btn-primary" type="submit">Send Reset Link</button>
          
        </form>
      </div>
  </div>
  </div>
</div>
<br>
<br>



{% endblock content %} 