{%extends 'base_o.html' %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="text-black text-center">
      <div class="col"></div>
          <h1>Password Change</h1>
        </div>
  <br>
  <div class="row">
    <div class="col">
     <div class="card card-body">
        <form action="" method="post" class="django-form" >
          {% csrf_token %} {{form.as_p}}
          <button class="btn btn-primary" type="submit">Reset</button>
          
        </form>
      </div>
  </div>
  </div>
</div>
<br>
<br>



{% endblock content %} 