{% extends 'base.html' %} {% block content %}
<div class="container-lg d-flex flex-column gap-3 py-3">
  <div class="row">
    <div class="col">
      <h1>Sign Up</h1>
    </div>
  </div>
  <div class="row">
    
    <div class="col">
      <div class="card card-body">
        <form action="" method="post" class="django-form">
          {% csrf_token %}
           {{form.as_p}}
          <div class="mb-3 text-end">
            <a href="{% url 'accounts:login' %}" class="link-dark">Already have an account?</a>
          </div>
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}