
<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JOB PORTAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:create' %}">Add Employer</a>
          <a class="nav-link active" aria-current="page" href="#">Show Employers</a>
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Search Employer</a>
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:signup' %}">View User</a>
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Search User</a>
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Logout</a>
          <a class="nav-link" href="#"></a>
          <a class="nav-link" href="#"></a>
          <a class="nav-link disabled"></a>
        </div>
      </div>
    </div>
  </nav>