{% extends 'base_a.html' %} {% block content %}
<div class="container-lg d-flex flex-column gap-3 py-3">
  <div class="row">
    <div class="col">
      <h1>List of Employers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered align-middle shadow-sm">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Company Name</th>
            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for employer in employers %}
          <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td>{{employer}}</td>
            
            
            <td>
              <div class="d-flex gap-3 flex-wrap">
                <a
                  href="{% url 'accounts:employer_detail' employer.id %}"
                  class="btn btn-primary"
                  >Detail</a
                >
                <a
                  href="{% url 'accounts:employer_update' employer.id %}"
                  class="btn btn-secondary"
                  >Edit</a
                >
                <a
                  href="{% url 'accounts:employer_delete' employer.id %}"
                  class="btn btn-danger"
                  >Delete</a
                >
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No Employer Found!</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}