{% extends 'base.html' %} {% block content %}
<div class="container-lg d-flex flex-column gap-3 py-3">
  <div class="row">
    <div class="col">
      <h1 class="d-flex align-item-center gap-3">
        Profile | Detail
        
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <table class="table table-bordered table-stripped">
          <tbody>
            <tr>
              <th>First Name</th>
              <td>{{profile.first_name}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="card card-body">
                  <img
                    src="{{profile.image.url}}"
                    alt="profile picture"
                    class="img img-fluid"
                    width="200px"
                    height="200px"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div>
  <a
          href="{% url 'accounts:profile_update' profile.id %}"
          class="btn btn-sm btn-primary"
          >Edit</a
        ></div>
</div>
<br>
<br>
{% endblock %}
