{%extends 'base.html' %}
{% block content %}
<h3 class="text-center">Welcome admin</h3>
<div class="container-fluid">
    <div class="row row-cols-2">
        <div class="bg-secondary col-auto col-md-2 min-vh-100">
            <div class="bg-dark p-2">
                
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item">
                        <a href="{% url 'accounts:create' %}" class="nav-link text-blue">
                            <i class="fs-5 fa fa-table-list"><span class="fs-4 d-none d-sm-inline">Add Employer</span></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:employer_list' %}" class="nav-link text-blue">
                            <i class="fs-5 fa fa-table-list"><span class="fs-4 d-none d-sm-inline">Show Employers</span></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-blue">
                            <i class="fs-5 fa fa-table-list"><span class="fs-4 d-none d-sm-inline">Search Employer</span></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-blue">
                            <i class="fs-5 fa fa-table-list"><span class="fs-4 d-none d-sm-inline">Search User</span></i>
                        </a>
                    </li>
                </ul>

            </div>
            
        </div>
        
    </div>
</div>


{% endblock content %} 

<a href="">Add employee</a>
        <a href="">Show employee</a>guage