{% extends 'base.html' %} {% block content %}

<div class="container py-3">
  <div class="row mb-3">
    <div class="col">
      <h1 class="pb-2 border-bottom mb-3">Apply for job</h1>
      <div class="card rounded-0">
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Post Name:</th>
                  <td>{{jobpost.post_name}}</td>
                </tr>
                <tr>
                  <th>Last Date:</th>
                  <td>{{jobpost.last_date}}</td>
                </tr>
                {{form.as_table}}
              </tbody>
            </table>
            <div>
              <button class="btn btn-primary">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
