{% extends 'base.html' %} {% block content %}

<p><p>
<div class="col"></div>
    <div class="col ">

        <div 
        class="card text-center border-warning"
        style="width: 800px; height: auto"
        >
        <div class="card-body ">
            
            <h5 class="card-title">{{jobpost.post_name}}</h5>
            
            <p class="card-text">Post Name: {{jobpost.post_name}}</p>
            <p class="card-text">Preferred Qualification: {{jobpost.qualification}}</p>
            <p class="card-text">Preferred Skill: {{jobpost.skills}}</p>
            <p class="card-text">Experience: {{jobpost.experience}}</p>
            <p class="card-text">No of Vacancy: {{jobpost.no_of_vacancy}}</p>
            <p class="card-text">Location: {{jobpost.location}}</p>
            <p class="card-text">Salary: {{jobpost.salary}}</p>
            <p class="card-text">Employment Type: {{jobpost.employment_type}}</p>
            <p class="card-text">Last Date: {{jobpost.last_date}}</p>

            {% if jobpost.qualification == profile.qualification %}
            <a
                  href="{% url 'core:apply' jobpost.id %}"
                  class="btn btn-primary"
                  >Apply</a
                >
                {% else %}
                <p class="text-danger">You'r not Eligible to apply this post!! </p>
                {% endif %}
        </div>
    </a>
  </div>
</div>


{% endblock %}