{% extends 'base.html' %} 
{% block title %}Search{% endblock%} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Search results for {{request.GET.keyword}}</h3>
      <hr />
      {% for result in results %}
      <div class="row">
        
        <div class="col-md-4">
            <div class="card card-body">
                <a href="{% url 'core:more' result.id %}">{{result}}</a>
                
            </div>
        </div>
      </div>

      {% empty%}
    <div class="col">
      <div class="card_body">
        <h5 class="card-title">No result found!</h5>
      </div>
    </div>
    {% endfor %}


      
    </div>
  </div>
</div>
{% endblock content %}
